{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="container" id="card">
    <div class="card">
    <h5 class="card-title">Votre profil</h5>
        <div id ="cardprofil" class="row no-gutters">
            <div id="show1" class="col-md-12">

                {# Condition afin de sélectionner une photo de profil pour un utilisateur n'ayant pas rajouté de photo personnelle #}
                {% if eter_user.userAvatar %}
                
                <img id="image" src="{{ asset('img/upload/profil_pic/' ~ eter_user.userAvatar) | imagine_filter('profil') }}" alt="default_profil">
                
                {% else %}
                
                <img id="image" src="{{ asset('img/upload/profil_pic/default-profil.jpg') }}" alt="default_profil">
                
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="card-body">
                        <div id="rens1" class="card-text">Login</div>
                        <div id="edit_rens1">{{ eter_user.userLogin }}</div>
                        <br>

                        <div id="rens2" class="card-text">Email</div>
                        <div id="edit_rens2">{{ eter_user.userMail }}</div>
                        <br>

                        <div id="rens3" class="card-text">ID Discord</div>
                        <div id="edit_rens3">{{ eter_user.userDiscord }}</div>
                        <br>

                        <div id="rens4" class="card-text">Adresse</div>
                        <div contentEditable=false data-text="Pas encore d'adresse..." id="edit_rens4">{{ eter_user.userAddress }}</div>
                        <br>

                        <div id="rens5" class="card-text">Code Postal</div>
                        <div contentEditable=false data-text="Pas encore de code postal..." id="edit_rens5">{{ eter_user.userZip }}</div>
                        <br>

                        <div id="rens6" class="card-text">Ville</div>
                        <div contentEditable=false data-text="Pas encore de ville..." id="edit_rens6">{{ eter_user.userCity }}</div>
                        <br>

                        {#<div id="rens7" class="card-text">Sexe</div>
                        <div id="edit_rens7">{{ eter_user.userSex }}</div>
                        <br>#}

                        <div id="rens8" class="card-text">Description</div>
                        <div contentEditable=false data-text="Pas encore de description..." id="edit_rens8">{{ eter_user.userDescription }}</div>
                        <br>

                        {#<div id="rens9" class="card-text">Votre(Vos) clan(s)</div>
                        <div contentEditable=false data-text="Pas encore de clan..." id="edit_rens9">{{ eter_user.user_clan }}</div>
                        <br>

                        <div id="rens10" class="card-text">Votre(Vos) jeu(x)</div>
                        <div contentEditable=false data-text="Pas encore de jeu..." id="edit_rens10">{{ eter_user.userGame }}</div>
                        <br>

                        {#<div id="rens11" class="card-text">Votre(Vos) évènement(s)</div>
                        <div contentEditable=false data-text="Pas encore d'évènements..." id="edit_rens11">{{ eter_user.eterEvents }}</div>
                        <br>
                        
                        <div id="rens12" class="card-text">Votre(Vos) stream(s)</div>
                        <div contentEditable=false data-text="Pas encore de stream..." id="edit_rens12">{{ eter_user.user_stream }}</div>
                        <br>#}

                        <div id="rens13" class="card-text">Rôle</div>
                        <div id="edit_rens13">{{ eter_user.userRole }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class ="col-12" id="modifier">
                <a class="btn btn-success float-right" href="{{ path('eter_user_edit', {'id': eter_user.id}) }}">Modifier votre profil</a>
                <a class="btn btn-info float-right" href="{{ path('home') }}">Retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
