{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {# Affichage du logo Eterelz #}
        <img id="forgot_img" src="{{ asset('img/logo/logoEterelz.png') }}" class="align-center col-12" alt="Logo Eterelz" title="Logo Eterelz">

        <h1 id="forgot_pass1">Mot de passe oublié</h1>

        {# Installation de la balise form de départ #}
        {{ form_start(emailForm,{attr: {novalidate: 'novalidate'}}) }}

        <div class="row">
            <div id="forgot_pass2" class="col-12">
                <label>EMAIL</label>
            </div>
            <div class="col-12">
                {{ form_widget(emailForm.email, {'id' : 'emailf'}) }}
                <span id="alertforgot"></span>
            </div>
        </div>

            <button type="submit" id="bouton_envoi3" class="btn btn-info">ENVOYER</button>

        {# Installation de la balise form de fin #}
        {{ form_end(emailForm) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/password_jquery.js') }}"></script>
{% endblock %}


