<div class="tab-content">
    <!--Panel 7-->
    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

        <!--Body-->
        <div class="modal-body mb-1">
        <form action="{{ path('login') }}" method="post">
            <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="mail" class="form-control form-control-sm validate" name="_username">
                <label data-error="wrong" data-success="right" for="mail">Votre email</label>
                <span id="alert6"></span>
            </div>

            <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="mdp" class="form-control form-control-sm validate" name="_password">
                <label data-error="wrong" data-success="right" for="mdp">Votre mot de passe</label>
                <span id="alert7"></span>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-info" id="bouton_envoi1">Se connecter<i class="fas fa-sign-in ml-1"></i></button>
            </div>
        </form>
        </div>
        <!--Footer-->
        <div class="modal-footer">
            <div class="options text-center text-md-right mt-1">
                <p id="mdp_perdu">Mot de passe perdu ? <a id="registration" href="#" class="blue-text">Cliquez ici</a></p>
            </div>
            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Fermer
            </button>
        </div>
    </div>
    <!--/.Panel 7-->

    <!--Panel 8-->
    <div class="tab-pane fade" id="panel8" role="tabpanel">

        <!--Body-->
        <div class="modal-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'action' : path('security_registration')}) }}
            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-user-circle prefix"></i>
                {{ form_label(form.user_login, 'Votre login') }}
                {{ form_widget(form.user_login, {'id':'identifiant'}) }}
                <span id="alert1"></span>
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                {{ form_label(form.user_mail, 'Votre email') }}
                {{ form_widget(form.user_mail, {'id':'email'}) }}
                <span id="alert2"></span>
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fab fa-discord prefix"></i>
                {{ form_label(form.user_discord, 'Votre ID Discord') }}
                {{ form_widget(form.user_discord, {'id':'discord'}) }}
                <span id="alert3"></span>
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                {{ form_label(form.user_password, 'Votre mot de passe') }}
                {{ form_widget(form.user_password, {'id':'password'}) }}
                <span id="alert4"></span>
                <br>
                <!-- Barre de force du mdp -->
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="strength"></div>
                </div>
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                {{ form_label(form.confirm_user_password, 'Confirmez votre mot de passe') }}
                {{ form_widget(form.confirm_user_password, {'id':'conf_password'}) }}
                <span id="alert5"></span>
            </div>

            <div class="text-center form-sm mt-2">
                <button type="submit" class="btn btn-info" id="bouton_envoi2">S'inscrire<i class="fas fa-sign-in ml-1"></i></button>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Fermer
                </button>
            </div>
        </div>

            {{ form_end(form) }}
        </div>
        <!--Footer-->
        
    </div>
    <!--/.Panel 8-->
</div>
<script>
// Barre de force du mot de passe
var pass = document.getElementById("mdp")
    pass.addEventListener('keyup', function() {
        checkPassword(pass.value)
    })
    function checkPassword(password) {
        var strengthBar = document.getElementById("strength")
        var strength = 0;
            if (password.match(/[a-zA-Z0-9][a-zA-Z0-9]+/)) {
                strength += 1
            }
            if (password.match(/[~?]+/)) {
                strength += 1
            }
            if (password.match(/[!@£$%^&*()]+/)) {
                strength += 1
            }
            if (password.length >= 8) {
                strength += 1
            }
    
    switch (strength) {
        case 0 :
            strengthBar.style.width = "0%";
            break
        case 1:
            strengthBar.style.width = "25%";
            strengthBar.setAttribute ("class","progress-bar progress-bar-striped progress-bar-animated bg-danger")
            break
        case 2:
            strengthBar.style.width = "50%";
            strengthBar.setAttribute ("class","progress-bar progress-bar-striped progress-bar-animated bg-warning")
            break
        case 3:
            strengthBar.style.width = "75%";
            strengthBar.setAttribute ("class","progress-bar progress-bar-striped progress-bar-animated bg-success")
            break
        case 4:
            strengthBar.style.width = "100%";
            strengthBar.setAttribute ("class","progress-bar progress-bar-striped progress-bar-animated bg-success")
            break
    }
}
</script>
<script src="{{ asset('js/inscription_modal_jquery.js') }}"></script>