{% extends 'base.html.twig' %}

    {% block title %}Connexion{% endblock %}

        {% block body %}

            <div class="container">
                <form>
                    <img src="{{ asset('img/logo/logoEterelz.png') }}" class="align-center col-12" alt="Logo Eterelz" title="Logo Eterelz">
                        <legend class="align-center">Veuillez saisir vos identifiants de connexion</legend>
                        {% if error %}

                            <div class="alert-danger">
                                <a class="uk-alert-close"></a>
                                <p>{{ error.messageKey | trans(error.messageData, 'security') }}</p>
                            </div>

                        {% endif %}

                            <label for="username" class="">Email</label>
                            <input type="text" id="username" name="_username" class="" value="{{ last_username }}">

                        <div class="" >
                            <label for="password" class="">Mot de passe</label>
                                <input type="password" id="password" name="_password" class="">
                        </div>

                        <div class="" >
                            <label for="remember"></label>
                                <input type="checkbox" id="remember" class="" value="Se souvenir de moi"> Se souvenir de moi</input>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="" >
                        <input type="submit" class="" value="Se connecter">
                    </div>
                </form>
                <div class="">
                    <p>Pas encore inscrit(e) ? Cliquez <a href="{{ path('security_registration') }}" title="Inscription">ici</a> !!!</p>
                </div>
            </div>
{% endblock %}
