<div class="tab-content">
    <!--Panel 7-->
    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

        <!--Body-->
        <div class="modal-body mb-1">

         <form action="{{ path('login') }}" method="post">

            <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="emailconn" class="form-control form-control-sm validate" name="_username">
                <span id="alertemailconn"></span>
                <label data-error="wrong" data-success="right" for="modalLRInput10">Votre email</label>
                
            </div>

            <div class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="mdpconn" class="form-control form-control-sm validate" name="_password">
                <span id="alertmdpconn"></span>
                <label data-error="wrong" data-success="right" for="modalLRInput11">Votre mot de passe</label>
                
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="text-center mt-2">
                <button class="btn btn-info" type="submit" id="bouton_envoi_modalconn">Se connecter<i class="fas fa-sign-in ml-1"></i></button>
            </div>
            </form>
        </div>

        <!--Footer-->
        <div class="modal-footer">
            <div class="options text-center text-md-right mt-1">
                <p>Pas encore membre ? <a id="registration" href="{{path('security_registration')}}" class="blue-text">S'inscrire</a></p>
                <p>Mot de passe perdu ? <a id="registration" href="#" class="blue-text">Cliquez ici</a></p>
            </div>
            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Fermer</button>
        </div>
    </div>
    <!--/.Panel 7-->

    <!--Panel 8-->
    <div class="tab-pane fade" id="panel8" role="tabpanel">

        <!--Body-->
        <div class="modal-body">
            {{ form_start(form, {'action' : path('security_registration'), 'id' : 'modalinscr'}) }}
            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-user-circle prefix"></i>
                {{ form_label(form.user_login, 'Votre login') }}
                {{ form_widget(form.user_login, {'id': 'surnom'}) }}
                <span id="alertsurnom"></span>
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                {{ form_label(form.user_mail, 'Votre email') }}
                {{ form_widget(form.user_mail, {'id': 'email'}) }}
                <span id="alertemail"></span>
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fab fa-discord prefix"></i>
                {{ form_label(form.user_discord, 'Votre ID Discord') }}
                {{ form_widget(form.user_discord, {'id': 'discord'}) }}
                <span id="alertedisc"></span>
                
                
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                {{ form_label(form.user_password, 'Votre mot de passe') }}
                {{ form_widget(form.user_password, {'id': 'mdp'}) }}
                <span id="alertemdp"></span>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="strength"></div>
                </div>
            </div>

            <div id="login_modal" class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                {{ form_label(form.confirm_user_password, 'Confirmez votre mot de passe') }}
                {{ form_widget(form.confirm_user_password, {'id': 'confmdp'}) }}
                <span id="alerteconfmdp"></span>
            </div>
            
            <div class="text-center form-sm mt-2">
                <button type="submit" class="btn btn-info" id="bouton_envoi_modal">S'inscrire
                    <i class="fas fa-sign-in ml-1"></i>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
        <!--Footer-->
        <div class="modal-footer">
            <div class="options text-right">
                <p class="pt-1">Déjà un compte ? <a href="{{path('login')}}" id="registration" class="blue-text">Se connecter</a></p>
            </div>
            <button type="button"
                    class="btn btn-outline-info waves-effect ml-auto"
                    data-dismiss="modal">Fermer
            </button>
        </div>
    </div>
    <!--/.Panel 8-->
</div>

<script> var pass = document.getElementById("mdp")
pass.addEventListener('keyup', function () {
    checkPassword(pass.value)
})

function checkPassword(password) {
    var strengthBar = document.getElementById("strength")
    var strength = 0;
    if (password.match(/[a-zA-Z0-9][a-zA-Z0-9]+/)) {
        strength += 1
    }
    if (password.match(/[~?]+/)) {
        strength += 1
    }
    if (password.match(/[!@£$%^&*()]+/)) {
        strength += 1
    }
    if (password.length >= 8) {
        strength += 1
    }

    switch (strength) {
        case 0 :
            strengthBar.style.width = "0%";
            break
        case 1:
            strengthBar.style.width = "25%";
            strengthBar.setAttribute("class", "progress-bar progress-bar-striped progress-bar-animated bg-danger")
            break
        case 2:
            strengthBar.style.width = "50%";
            strengthBar.setAttribute("class", "progress-bar progress-bar-striped progress-bar-animated bg-warning")
            break
        case 3:
            strengthBar.style.width = "75%";
            strengthBar.setAttribute("class", "progress-bar progress-bar-striped progress-bar-animated bg-success")
            break
        case 4:
            strengthBar.style.width = "100%";
            strengthBar.setAttribute("class", "progress-bar progress-bar-striped progress-bar-animated bg-success")
            break
    }
}
</script>

<script src="{{ asset('js/inscrimodal_jquery.js') }}"></script>