{% block body %}

<h1>Inscription</h1>
 <!--Installation de la balise form de départ-->
{{ form_start(form) }}

<!--Affichage des champs du formulaire-->
{{ form_row(form.user_login, {'label' : 'Login', 'attr' : {'placeholder' : 'Saisissez votre login'}})}}
{{ form_row(form.user_mail, {'label' : 'Email', 'attr' : {'placeholder' : 'Saisissez votre adresse email'}})}}
{{ form_row(form.user_address, {'label' : 'Adresse', 'attr' : {'placeholder' : 'Saisissez votre adresse'}})}}
{{ form_row(form.user_zip, {'label' : 'Code Postal', 'attr' : {'placeholder' : 'Saisissez votre code postal'}})}}
{{ form_row(form.user_city, {'label' : 'Ville', 'attr' : {'placeholder' : 'Saisissez votre ville'}})}}
{{ form_row(form.user_discord, {'label' : 'Discord', 'attr' : {'placeholder' : 'Saisissez votre id Discord'}})}}
{{ form_row(form.user_sex, {'label' : 'Sexe', 'attr' : {'placeholder' : 'Genre'}})}}
{{ form_row(form.user_description, {'label' : 'Description', 'attr' : {'placeholder' : 'Saisissez une description'}})}}
{{ form_row(form.user_password, {'label' : 'Mot de passe', 'attr' : {'placeholder' : 'Saisissez un mot de passe'}})}}

<button type="submit" class="btn btn-success">S'inscrire !</button>

<!--Installation de la balise form de fin-->
{{ form_end(form) }} 

{% endblock %}