{% extends 'base.html.twig' %}

{% block body %}

<div uk-grid>
    <div class="uk-width-1-8@m"></div>
    {# inscription card #}
    <div class="uk-margin-auto uk-margin-auto-vertical uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto uk-align-center">
                    <img src="{{ asset('img/logo/logoEterelz.png') }}" class="logoSignin uk-align-center"
                        alt="Logo Eterelz" title="Logo Eterelz">
                </div>
            </div>
        </div>

        <div class="uk-card-body">

        {# Thème bootstrap pour formulaire #}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        
            {# Installation de la balise form de départ #}
            {{ form_start(form,{attr: {novalidate: 'novalidate'}}) }}

            <div id="champs">Les champs munis d'une étoile sont obligatoires</div>

            {# Affichage des champs du formulaire #}
            <div class="uk-margin">
                {{ form_row(form.user_avatar) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_login) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_mail) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_address) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_zip) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_city) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_discord) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_sex) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_description) }}
            </div>

            <div class="uk-margin">
                {{ form_row(form.user_password) }}
                {# Barre de force du mdp #}
                <progress class="uk-progress" value="0" max="100" id="strength"></progress>
            </div>

            <div class="uk-margin">
                {{ form_row(form.confirm_user_password) }}
            </div>
            
            <button type="submit" class="uk-margin-top uk-button uk-button-secondary uk-align-center">S'inscrire !</button>
        
            {# Installation de la balise form de fin #}
            {{ form_end(form) }}
        
        </div>
    </div>
</div>

{% endblock %}