{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="registration">


        {# Installation de la balise form de départ #}
        {{ form_start(form,{attr: {novalidate: 'novalidate'}}) }}
        <div id="inscription">Formulaire d'inscription</div>
        {# Affichage des champs du formulaire #}
        {# Preview image de profil #}

        <div class="row">
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="col s12">
                        <div id="wrapper" class="center-align">
                            <img id="output_image"
                                 src="{{ asset('img/upload/profil_pic/default-profil.jpg') }}"
                                 alt="profil_default" class="default-profil-pic circle">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        {{ form_row(form.user_avatar) }}
                        {{ form_errors(form.user_avatar) }}
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="col s12">
                        {{ form_row(form.user_login) }}
                        {{ form_errors(form.user_login) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        {{ form_row(form.user_mail) }}
                        {{ form_errors(form.user_mail) }}
                    </div>
                </div>
                {# <div class="row"> #}
                {# {{ form_row(form.user_address) }} #}
                {# </div> #}
                {# <div class="row"> #}
                {# {{ form_row(form.user_zip) }} #}
                {# </div> #}
                {# <div class="row"> #}
                {# {{ form_row(form.user_city) }} #}
                {# </div> #}
                <div class="row">
                    <div class="col s12 ">
                        {{ form_row(form.user_discord) }}
                        {{ form_errors(form.user_discord) }}
                    </div>
                    {# <div class="col s6"> #}
                    {# {{ form_row(form.user_sex) }} #}
                    {# {{ form_errors(form.user_sex) }} #}
                    {# </div> #}
                </div>
            </div>
        </div>
        {# <div class="row"> #}
        {# <div class="col s12"> #}
        {# {{ form_row(form.user_description) }} #}
        {# </div> #}
        {# </div> #}
        <div class="row">
            <div class="col s12 m6 l6">
                {{ form_row(form.user_password) }}
                {{ form_errors(form.user_password) }}
            </div>
            {# Barre de force du mdp #}
            {# <div class="progress"> #}
            {# <div class="determinate"></div> #}
            {# </div> #}

            <div class="col s12 m6 l6">
                {{ form_row(form.confirm_user_password) }}
                {{ form_errors(form.confirm_user_password) }}
            </div>
        </div>
        <div class="raw">
            <div class="col s12 right-align">
                <button type="submit" id="button" class="waves-effect waves-light btn btn-rounded light-blue accent-3">
                    INSCRIPTION
                </button>
            </div>
        </div>
        {# Installation de la balise form de fin #}
        {{ form_end(form) }}
    </div>
{% endblock %}