{% extends 'base.html.twig' %}

{% block body %}

        <div class="container" id="registration">


            {# Installation de la balise form de départ #}
            {{ form_start(form,{attr: {novalidate: 'novalidate'}}) }}
            <div id="inscription">Formulaire d'inscription</div>
            {# Affichage des champs du formulaire #}
            {# Preview image de profil #}
{#            <div id="wrapper">#}
{#                <img id="output_image" src="https://meetanentrepreneur.lu/wp-content/uploads/2019/08/profil-linkedin.jpg" alt="profil_default" />#}
{#            </div>#}
            <div class="row">
                {{ form_row(form.user_avatar) }}
            </div>
            <div class="row">
                {{ form_row(form.user_login) }}
            </div>
            <div class="row">
                {{ form_row(form.user_address) }}
            </div>
            <div class="row">
                {{ form_row(form.user_zip) }}
            </div>
            <div class="row">
                {{ form_row(form.user_city) }}
            </div>
            <div class="row">
                {{ form_row(form.user_discord) }}
            </div>
            <div class="row">
                {{ form_row(form.user_sex) }}
            </div>
            <div class="row">
                {{ form_row(form.user_description) }}
            </div>
            <div class="row">
                {{ form_row(form.user_mail) }}
            </div>
            <div class="row">
                {{ form_row(form.user_password) }}
                {# Barre de force du mdp #}
{#                <div class="progress">#}
{#                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="strength"></div>#}
            </div>
            <div class="row">
                {{ form_row(form.confirm_user_password) }}
            </div>
            <div id="champs">Les champs munis d'une * sont obligatoires</div>
            <button type="submit" id="button" class="waves-effect waves-light btn">INSCRIPTION</button>
            {# Installation de la balise form de fin #}
            {{ form_end(form) }}
        </div>
{% endblock %}