{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="slider">
            <ul class="slides">
                <li class="background-slider">
                    <img src="{{ asset('img/background/disclaimer_bg.jpg') }}" class="responsive-img"
                         alt="Image de présentation"> <!-- random image -->
                    <div class="overlay">
                        <div class="caption center-align">
                            <div class="row">
                                <div class="col l3" id="logo"></div>
                                <div class="col l6 valign-wrapper">
                                    <p class="project left-align">Project</p>
                                </div>
                            </div>
                            <p class="light grey-text text-lighten-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid
                                libero
                                doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae
                                cumque et quo impedit.
                                Yo-ho-ho, yer not breaking me without a greed! Stars are the processors of the conscious
                                sonic
                                shower. Boil tender noodles in a grinder with triple sec for about an hour to perfect their
                                bitterness.
                                Ahoy there's nothing like the rainy halitosis diing on the shark. Noodles porridge has to
                                have
                                an iced, al dente shrimps component. Cloudy, extraterrestrial klingons nosily handle a
                                post-apocalyptic, gravimetric tribble.
                                Seismic, colorful transporters impressively contact a reliable, most unusual klingon. Never
                                crush a comrade. Seashells travel with booty at the jolly madagascar!
                            </p>
                            <a href="#" class="waves-effect waves-light btn"><i class="fas fa-clone left"></i> View project</a>
                        </div>
                    </div>

                </li>
                {% for rand in randGame %}
                    <li>
                        <img src="{{ asset('img/upload/game/' ~ rand.game_pic) }}" alt="Illustration de {{ rand.game_name }}" title="Illustration de {{ rand.game_name }}"> <!-- random image -->
                        <div class="caption left-align">
                            <h3>{{ rand.game_name }}</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="stat" style="background-image: url({{ asset('img/background/lol.jpg') }})">
                    <div class="overlay valign-wrapper">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <p class="white-text flow-text stat-title">Stat</p>
                            </div>
                                <div class="vdivider"></div>
                            <div class="col s4">
                                <p class="white-text">
                                    Jacks fall with endurance at the dead singapore! Pressure at the planet that is when
                                    cold suns harvest.
                                    Freedom doesn’t earthly forget any lama — but the body is what lures. Rinse eleven
                                    oz of popcorn in eight and a half teaspoons of coffee.
                                </p>
                            </div>
                                <div class="vdivider"></div>
                            <div class="col s4">
                                <p class="white-text">
                                    Jacks fall with endurance at the dead singapore! Pressure at the planet that is when
                                    cold suns harvest.
                                    Freedom doesn’t earthly forget any lama — but the body is what lures. Rinse eleven
                                    oz of popcorn in eight and a half teaspoons of coffee.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="stat" style="background-image: url({{ asset('img/background/wh_40k.jpg') }})">
                    <div class="overlay valign-wrapper">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <p class="white-text flow-text stat-title">Stat</p>
                            </div>
                            <div class="vdivider"></div>
                            <div class="col s4">
                                <p class="white-text">
                                    Jacks fall with endurance at the dead singapore! Pressure at the planet that is when
                                    cold suns harvest.
                                    Freedom doesn’t earthly forget any lama — but the body is what lures. Rinse eleven
                                    oz of popcorn in eight and a half teaspoons of coffee.
                                </p>
                            </div>
                            <div class="vdivider"></div>
                            <div class="col s4">
                                <p class="white-text">
                                    Jacks fall with endurance at the dead singapore! Pressure at the planet that is when
                                    cold suns harvest.
                                    Freedom doesn’t earthly forget any lama — but the body is what lures. Rinse eleven
                                    oz of popcorn in eight and a half teaspoons of coffee.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="stat" style="background-image: url({{ asset('img/background/destiny.png') }})">
                    <div class="overlay valign-wrapper">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <p class="white-text flow-text stat-title">Stat</p>
                            </div>
                            <div class="vdivider"></div>
                            <div class="col s4">
                                <p class="white-text">
                                    Jacks fall with endurance at the dead singapore! Pressure at the planet that is when
                                    cold suns harvest.
                                    Freedom doesn’t earthly forget any lama — but the body is what lures. Rinse eleven
                                    oz of popcorn in eight and a half teaspoons of coffee.
                                </p>
                            </div>
                            <div class="vdivider"></div>
                            <div class="col s4">
                                <p class="white-text">
                                    Jacks fall with endurance at the dead singapore! Pressure at the planet that is when
                                    cold suns harvest.
                                    Freedom doesn’t earthly forget any lama — but the body is what lures. Rinse eleven
                                    oz of popcorn in eight and a half teaspoons of coffee.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}