{% extends 'base.html.twig' %}

{% block title %}{{ game.gameName}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s4 offset-s2">
            <h1 class="light-blue-text">{{ game.gameName | upper}}</h1>
        </div>
    </div>
<div class="row">
    <div class="col s4 offset-s2 center-align">
        <h2 class="white-text title-background">MES COUILLES</h2>
    </div>
</div>
    <div class="row">
        <div class="col s5 offset-s1">
            <img src="{{ asset('img/upload/game/' ~ game.gamePic) }}" alt="image de {{ game.gameName }}" class="responsive-img">
        </div>
        <div class="col s4 offset-s1">
            <p class="white-text">{{ game.gameDescription }}</p>
        </div>
    </div>

   <div class="row">
       <div class="col s12 center-align">
           <a href="{{ path('eter_game_index') }}" class="waves-effect waves-light btn btn-rounded blue darken-1">retour</a>
       </div>
   </div>


{% endblock %}
