<h1>Bienvenue {{ username }} !</h1>

<p>
    Vous vous êtes enregistré(e) en tant que {{ username }} avec l'adresse suivante :
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ absolute_url(path('activation', {'token' : token})) }}" >Cliquez ici pour activer votre compte</a>
    (Ce lien est valide jusqu'au {{ expiration_date|date('d/m/Y G:i') }})
</p>

